<a href="https://colab.research.google.com/github/ZOYBAD14xx/workshop-python-9-01-2021/blob/main/section2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list_family = ["Dad","Mom","Babe"]
print(list_family)

['Dad', 'Mom', 'Babe']

In [2]:
for i in range(0,3):
  print(list_family[i])

Dad
Mom
Babe

In [4]:
list(range(0,3))

[0, 1, 2]

In [5]:
list_family[-1]

'Babe'

In [17]:
list_family[0:]

['Dad', 'Mom', 'Babe']

In [18]:
n = [1,2,3,4,5]
n[0:6]

[1, 2, 3, 4, 5]

In [24]:
n[2:3]

[3]

In [44]:
list=[]
n = int(input("Enter :"))
while n!=0:
  list.append(n)
  n = int(input("Enter :"))
print(list)
print(list[::-1])

Enter :2
Enter :3
Enter :1
Enter :0
[2, 3, 1]
[1, 3, 2]

In [46]:
my_tuple = ([1,2,3],[4,5,6])
my_tuple

([1, 2, 3], [4, 5, 6])

In [47]:
def n(x,y):
  sum=x+y
  return sum

In [61]:
n(5,10)

15

In [64]:
def Taxi_fares(distance_km):
  cost = 4
  distance_m = float(distance_km)*1000
  cost += (distance_m*0.25/140)
  return cost
Dist = input("input distance(KM): ")
print("Total",Taxi_fares(Dist))

input distance(KM): 14
Total 29.0