<a href="https://colab.research.google.com/github/ZOYBAD14xx/workshop-python-9-01-2021/blob/main/Workshop_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Core programming** 


1.   int
2.   float/double
3.   String

In [ ]:
#integer
x = 2
print(x)
type(x)

2

int

In [ ]:
#float/double
y = 3.14
print(y)
type(y)

3.14

float

In [ ]:
#String
name = "Khonepaserth"
surname = "SOUNAKHEN"

In [ ]:
name+" "+surname

'Khonepaserth SOUNAKHEN'

In [ ]:
#logical

a = True
type(a)

bool

In [ ]:
#input
name= input("Enter your name : ")
surname= input("Enter your surname : ")
Fullname = name+" "+surname
print(Fullname)

Enter your name : obie
Enter your surname : snk
obie snk

In [ ]:
import math

math.factorial(5)

120

In [ ]:
round(math.sqrt(7))

3

In [ ]:
math.sqrt(7)

2.6457513110645907

# EX1

In [ ]:
name= "Khonepaserth"
surname= "SOUNAKHEN"
address= "VT Capital"
Fullname = name+" "+surname
print("Fullname: "+Fullname)
print("Address: "+address)

Fullname: Khonepaserth SOUNAKHEN
Address: VT Capital

## Ex2

In [ ]:
name = input("Enter your name: ")
print("Hello " +name)

In [ ]:

b=int(input("Enter base: "))
h=int(input("Enter height: "))
area = (b*h)/2
i = "Area of Triangle: "
print(i+str(area))

Enter base: 5
Enter height: 7
Area of Triangle: 17.5

In [ ]:
s1=int(input("Enter S1: "))
s2=int(input("Enter S2: "))
s3=int(input("Enter S3: "))

s=(s1+s2+s3)/2

area = math.sqrt(s*(s-s1)*(s-s2)*(s-s3)) 

print("S : "+str(s))

i = "Area of Triangle: "
print(i+str(area))

Enter S1: 3
Enter S2: 4
Enter S3: 5
S : 6.0
Area of Triangle: 6.0

Boolean Variable

In [ ]:
a = 5 
b = 6
if a == b:
  print("A = B")
else:
  print("A != B")

A != B

In [ ]:
a = 10
b = 11
if (a or b) == 10:
  print("True")
else:
  print("False")

True

In [143]:
count = 0
while count < 11:
  print(count)
  count += 1
print("Loop is end")

0
1
2
3
4
5
6
7
8
9
10
Loop is end

# EX5

In [157]:
number = 1
while number !=0:
  number = int(input("Enter number :"))
  if number>0:
    print(str(number) + " is more than 0")
  elif number<0:
    print(str(number)+" is less than 0")
  else:
    print(str(number)+" = 0")

Enter number :1
1 is more than 0
Enter number :2
2 is more than 0
Enter number :3
3 is more than 0
Enter number :-1
-1 is less than 0
Enter number :-2
-2 is less than 0
Enter number :-3
-3 is less than 0
Enter number :0
0 = 0

In [158]:
list=[1,2,3,4]

In [159]:
list[2]

3

In [160]:
print(list)

[1, 2, 3, 4]

In [163]:
for a in list:
  print("a in list : "+str(a))

a in list : 1
a in list : 2
a in list : 3
a in list : 4

In [197]:
number = 1
while number !=0:
  number = int(input("Enter number : "))
  if number%2 == 0:
    print("Number is Even")
  else:
    print("Number is Odd")

Enter number : 2
Number is Even
Enter number : 1
Number is Odd
Enter number : 3
Number is Odd
Enter number : 4
Number is Even
Enter number : 5
Number is Odd
Enter number : 10
Number is Even
Enter number : 0
Number is Even